Perfil de usuario

<br><br>

Nombre: {{user.name}}<br><br>
Apellido: {{user.lastname}}<br><br>
Edad: {{user.age}}<br><br>
Email: {{user.email}}<br><br>
Dirección {{user.adress}}<br><br>

<h2>Registro</h2>

<form action="/api/users/logout" method="POST">
<button type="submit"> Cerrar Sesion </button><br><br>